{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row banner catagory">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ catagory.name }}
			<figure class="creator">
				<img src="{{creator.picture}}">
				<figcaption>Created by {{ creator.name }}</figcaption>
			</figure>
			</h1>

		</div>
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">

		</div>
		<div class="col-md-7"></div>
	</div>

	<div class="flash">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						 <li> <strong> {{ message }} </strong> </li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>



	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<a href = '{{url_for('newCatagoryItem', catagory_id=catagory.id) }}'>
				<button class="btn btn-default" id="new-catagory">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>Add Item
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>

	{% if items !=[] %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<h2>Name</h2>
					{% for i in items %}
						<div class="catagory-item-name">
							<a href = "{{url_for('catagoryItemInfo', catagory_id = catagory.id, item_id=i.id)}}">
								<h3>{{i.name}}</h3>
							</a>
						</div>
					{% endfor %}
			</div>
			<div class="col-md-4">
				<h2>Price</h2>
					{% for i in items %}
						<div class="catagory-item-price">
							<h3>{{i.price}}</h3>
						</div>
					{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}