{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row">
		<div class="col-md-5">
			<h1>Catagories</h1>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<h1>Latest added items</h1>
		</div>
	</div>

	<div class = "flash">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
					<li> <strong> {{ message }} </strong> </li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-12">
			<a href = '{{url_for('newCatagory') }}'>
				<button class="btn btn-default" id="new-catagory">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>Add Catagory
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for catagory, item in info %}
	<br>
	<div class="row">

		<a href='{{url_for('CatagoryItems', catagory_id = catagory.id)}}'>
			<div class="col-md-5 catagory-list">
				{{catagory.name}}
				<br>
				<a href='{{url_for('editCatagory',catagory_id = catagory.id)}}' >Edit</a>
				<a href='{{url_for('deleteCatagory', catagory_id = catagory.id)}}' >Delete</a>
			</div>

		</a>
		<a href = "{{url_for('catagoryItemInfo', catagory_id = catagory.id, item_id=item.id)}}">
			<div class="col-md-1"></div>
			<div class="col-md-5 catagory-list">
				{{item.name}} ({{item.catagory.name}})
				<br>
				<a href='{{url_for('editCatagoryItem',catagory_id = catagory.id, item_id=item.id)}}' >Edit</a>
				<a href='{{url_for('deleteCatagoryItem', catagory_id = catagory.id, item_id=item.id)}}' >Delete</a>
			</div>
		</a>
	</div>
	{% endfor %}

	{% if catagories != [] %}
		{% for catagory in catagories %}
		<br>
		<div class="row">
			<a href='{{url_for('CatagoryItems', catagory_id = catagory.id)}}'>
				<div class="col-md-5 catagory-list">
					{{catagory.name}}
					<br>
					<a href='{{url_for('editCatagory',catagory_id = catagory.id)}}' >Edit</a>
					<a href='{{url_for('deleteCatagory', catagory_id = catagory.id)}}' >Delete</a>
				</div>

			</a>
		</div>
		{% endfor %}
	{% endif %}

	{% if items != [] %}
		{% for item in items %}
		<br>
		<div class="row">
			<a href = "{{url_for('catagoryItemInfo', catagory_id = item.catagory.id, item_id=item.id)}}">
				<div class="col-md-1"></div>
				<div class="col-md-5 catagory-list">
					{{item.name}} ({{item.catagory.name}})
					<br>
					<a href='{{url_for('editCatagoryItem',catagory_id = item.catagory.id, item_id=item.id)}}' >Edit</a>
					<a href='{{url_for('deleteCatagoryItem', catagory_id = item.catagory.id, item_id=item.id)}}' >Delete</a>
				</div>
			</a>
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}