{% extends "main.html" %}
{% block content %}
{%include "header.html"%}
<div class="row">
	<div class="col-md-12 item-list">
		<h1>{{item.name}} ({{item.catagory.name}}): </h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12 item-list">
		<h3>{{item.description}}</h3>
	</div>
</div>
<div class="row">
	<div class = "col-md-12 item-list">
		<a href='{{url_for('editCatagoryItem',catagory_id = catagory.id, item_id=item.id)}}' >Edit</a>
		<a href='{{url_for('deleteCatagoryItem', catagory_id = catagory.id, item_id=item.id)}}' >Delete</a>
	</div>
</div>
{% endblock %}